.box {
    margin-top: 20px;
    margin-bottom: 20px;
    border: 2px solid #A9A9A9;
    margin-right: 20px;
    margin-left: 20px;
    border-radius: 5px;
}

.better_button {
    size: 1cm;
    border-radius: 5px;
    background-color: transparent;
    border: 2px solid gray;
}

.vertical_align{
    display: flex;
}
